<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col>
          <user-panel></user-panel>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="3">
          <list-easy-feedbacks></list-easy-feedbacks>
        </b-col>
        <b-col>
          <edit-source :poll="currentPoll"/>
          <edit-buttons v-on:emit="emit" v-on:save="saveSource"/>
        </b-col>
      </b-row>
      <b-row>
        <b-col>

        </b-col>
      </b-row>
    </b-container>

    <b-modal id="modal-comms-error" centered ok-only size="lg" title="Error">
      <p>Server busy (or down). Try Later</p>
    </b-modal>

  </div>
</template>
<script>
import {mapState} from 'vuex';

import EditSource from '../components/EditSource.vue'
import EditButtons from '../components/EditButtons.vue'
import UserPanel from "@/components/UserPanel";
import ListEasyFeedbacks from "@/components/ListEasyFeedbacks";

export default {
  name: 'Edit',
  components: {
    ListEasyFeedbacks,
    UserPanel,
    EditSource,
    EditButtons
  },
  data() {
    return {
      code: ''
    }
  },
  computed: {
    ...mapState([
      'currentPoll'
    ])
  },
  methods: {

    async saveSource() {
      try {
        await this.$store.dispatch('saveModel');
      } catch (e) {
        console.log(e)
        this.$bvModal.show('modal-comms-error')
      }
    },

    async emit() {
      try {
        await this.$store.dispatch('saveModel');
        this.$router.push(`moderator`)
      } catch (e) {
        console.log(e)
        this.$bvModal.show('modal-comms-error')
      }
    }
  },
  mounted: function () {
    this.$store.state.apiService.stopWatch();
    this.$store.dispatch('fetchList')
  }
}
</script>

