<template>
  <b-container>
    <b-row v-if="!$store.state.currentPoll">
      <b-col>
        Loading....
      </b-col>
    </b-row>
    <b-row v-if="$store.state.currentPoll && $store.state.currentPoll.state==='STARTED'">
      <b-col>
        <poll v-on:voteOption="vote" :open="!voted"/>
      </b-col>
    </b-row>
    <b-row v-if="$store.state.currentPoll && $store.state.currentPoll.state==='CLOSED'">
      <b-col cols="12">
        <div class="position-relative p-4 bg-secondary">
          <p class="text-light font-weight-bold">
            This EasyFeedback is closed right now
          </p>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="$store.state.currentPoll">
      <b-col cols="12">
        <vertical-questions/>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Poll from '../components/Poll.vue';
import VerticalQuestions from "@/components/VerticalQuestions";
export default {
  name: 'Feedback',
  components: {
    Poll,
    VerticalQuestions
  },
  data() {
    return {
      voted: false,
      interval: null
    }
  },
  methods: {
    vote(question) {
      this.voted = true;
      this.$store.dispatch('votePoll', question)
    }
  },
  mounted() {
    if (this.$route.params.id) {
      const uuid = this.$route.params.id;
      this.$store.dispatch('retrievePoll', uuid);
      const me = this;
      this.$store.state.apiService.watchEasyFeedback(uuid, function (data) {
        me.$store.commit('updateModel', data)
      });
    }
  }
}
</script>

