<template>
  <b-container fluid>
    <b-row align-h="start" v-if="$store.state.currentPoll">
      <b-col cols="1">
        <b-button variant="success" @click="save" v-b-tooltip.hover title="Save">
          <b-icon-disc/>
        </b-button>
      </b-col>
      <b-col cols="1">
        <b-button variant="warning" @click="emit" v-b-tooltip.hover title="Go">
          <b-icon-binoculars/>
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'EditButtons',
  props: {},
  computed: {},
  methods: {
    save() {
      this.$emit('save')
    },
    emit() {
      this.$emit('emit')
    }
  },
  data() {
    return {
      code: ''
    }
  }
}
</script>
