<template>
  <b-container fluid v-if="poll">
    <b-form @submit.stop.prevent>
      <b-row class="mb-10">
        <b-col cols="12">
          {{ (poll.id || '(new)') }}
        </b-col>
        <b-col cols="12">
          <b-input-group-append>
            <b-form-group
                id="input-group-1"
                label="Question:"
                label-for="input-1"
                description="Please fill the questions you want to make">
              <b-form-input
                  id="input-title"
                  v-model="poll.title"
                  placeholder="Question"
                  required
                  type="text"
                  style="width:500px"
                  maxLength="75"
              ></b-form-input>
              <b-form-invalid-feedback id="input-live-feedback">
                The question must be less than 75 characters
              </b-form-invalid-feedback>
            </b-form-group>
          </b-input-group-append>
        </b-col>
        <b-col cols="12" v-for="index in 4" :key="index">
          <b-input-group-append v-if="poll.questions[index-1]">
            <label>
              {{ index }}.)
            </label>
            <b-form-group>
              <b-form-input
                  :placeholder="'Question '+index"
                  label-for="input-formatter"
                  class="mb-3"
                  size="sm" maxLength="20"
                  v-model="poll.questions[index-1].question">
              </b-form-input>
              <b-form-invalid-feedback id="input-live-feedback">
                The answer must be less than 20 characters
              </b-form-invalid-feedback>

              <small>
                <b-button variant="ligth" pill lg="0"
                          @click="addMore"
                          v-if="(index==2 && poll.questions.length==2)||(index==3 && poll.questions.length==3)">
                  <b-icon-plus/>
                </b-button>
              </small>
            </b-form-group>
            <small>
              <b-button variant="ligth" pill lg="0"
                        @click="removeQuestion"
                        v-if="(index==3 && poll.questions.length==3)||(index==4 && poll.questions.length==4)">
                <b-icon-trash/>
              </b-button>
            </small>
          </b-input-group-append>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script>
export default {
  name: 'EditSource',
  props: ['poll'],
  methods: {
    addMore() {
      this.$store.commit('addQuestion')
    },
    removeQuestion() {
      this.$store.commit('removeQuestion')
    }
  },
  computed: {
    titleSizeLimit() {
      return this.poll.title.length > 4 && this.poll.title.length < 51
    }
  }
}
</script>
