<template>
  <b-container>
    <h5>EasyFeedbacks</h5>
    <b-list-group>
      <b-list-group-item v-for="(item) in list"
                         :key="item.id"
                         v-on:click="onItemSelected(item)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ item.title }}</h5>
          <small>
            <b-badge variant="primary" pill>{{ item.questions.length }}</b-badge>
          </small>
        </div>
        <small>{{ item.id }}</small>
        <small>
          <b-button pill lg="0" variant="ligth" @click="removePool(item)">
            <b-icon-trash/>
          </b-button>
        </small>
      </b-list-group-item>
    </b-list-group>
    <b-button variant="outline-primary" pill lg="0"
              @click="addMore">
      <b-icon-plus/>
    </b-button>
  </b-container>
</template>

<script>
import {mapState} from 'vuex';

export default {
  name: "ListEasyFeedbacks",
  computed: {
    ...mapState([
      'list'
    ])
  },
  methods: {
    removePool(item) {
      this.$store.dispatch('removePoll', item)
    },
    onItemSelected(item) {
      this.$store.commit('updateModel', item)
    },
    addMore() {
      const item = {
        title: "Would you repeat this conference?",
        questions: [
          {
            id: 0,
            question: "Yes",
            votes: 0
          },
          {
            id: 1,
            question: "No",
            votes: 0
          },
        ]
      };
      this.$store.commit('updateModel', item)
    }
  }
}
</script>

<style scoped>

</style>