<template>
  <b-container>
    <b-row>
      <b-col>
        <h1>&nbsp;</h1>
      </b-col>
    </b-row>
    <b-row v-if="open">
      <b-col>
        <b-card :title=currentPoll.title>
          <b-col v-for="(item,index) in currentPoll.questions" :key="item.question" sm="10">
            <label>{{ index + 1 }}. </label>
            <b-button class="m-3" style="width: 300px;" variant="outline-primary" @click="vote(item.question)"
                      size="lg" pill>
              {{ item.question }}
            </b-button>
          </b-col>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <vertical-questions/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import {mapState} from 'vuex';


export default {
  name: 'Poll',
  props: ['open'],
  data() {
    return {
      bgVariants: ["info", "info", "info", "info"],
      txtVariants: ["white", "white", "white", "white"]
    }
  },
  computed: {
    ...mapState([
      'currentPoll'
    ])
  },
  methods: {
    vote: function (idx) {
      this.$emit('voteOption', idx)
    }
  }
}
</script>

<style scoped>
.question {
  font-size: 4vw
}

.vote {
  font-size: 4vw
}
</style>