<template>
  <b-container fluid>
    <b-row>
      <b-col>
        Control
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" v-if="$store.state.currentPoll.state!=='STARTED'">
        <b-button variant="primary" @click="startTimer"> Start
          <b-icon-play></b-icon-play>
        </b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" v-if="$store.state.currentPoll.state==='STARTED'">
        <b-button variant="warning" @click="stopTimer"> Stop
          <b-icon-stop></b-icon-stop>
        </b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" v-if="$store.state.currentPoll.state!=='STARTED'">
        <b-button variant="dark" @click="resetCounter"> Reset
          <b-icon-reply></b-icon-reply>
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "TimerControl",
  methods: {
    startTimer() {
      this.$emit('startTimer')
    },
    stopTimer() {
      this.$emit('stopTimer')
    },
    resetCounter() {
      this.$emit('resetCounter')
    }
  }
}
</script>

<style scoped>

</style>